* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:  lightgrey;
}

#root {
    display: row;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

.memory-game {
    width: 640px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(24% - 10px);
    margin: 5px;
    position: relative;
    border-radius: 10%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgb(239, 184, 16), rgb(231, 217, 177));
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.counter {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 2rem;
    color: rgb(163, 125, 9); 
}

.game-over-message {
    font-size: 5rem;
    text-align: center;
    margin-top: 1rem;
    -webkit-text-stroke: 2px black;
    color: rgb(239, 184, 16); 
}

.restart-button {
    background-color: rgb(163, 125, 9);
    align-self: center;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s ease;
  }
  
  .restart-button:hover {
    background-color: #000;
    color: rgb(222, 177, 42);
  }